* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a,
a:link,
a:visited,
a:hover,
a:active,
a > * {
  text-decoration: none !important;
  color: black !important; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Raleway', sans-serif; }

main {
  margin: 0 0 !important;
  width: 100%; }

.btn {
  outline: none;
  border: none;
  overflow: hidden;
  padding: 1.3rem 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.7rem;
  display: inline-block !important; }
  .btn:focus {
    outline: none !important;
    border: none !important; }

textarea {
  resize: none; }

.form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none; }

.form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none; }

.btn-main {
  background-color: rgba(255, 96, 51, 0.7);
  opacity: 1;
  transition: all .3s linear;
  box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.62);
  color: #fff;
  width: 20rem; }
  .btn-main:hover {
    background-color: #ff6432;
    border: none;
    color: #fff; }
  .btn-main:active, .btn-main:focus {
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.62); }

.heading-2 {
  font-size: 9rem;
  font-weight: 700;
  line-height: 57px;
  margin-bottom: 5rem; }
  .heading-2--white {
    color: #fff; }
  .heading-2--black {
    color: #000; }
  .heading-2--sm {
    font-size: 4rem;
    font-weight: 300; }
  @media screen and (max-width: 1200px) {
    .heading-2 {
      font-size: 6.5rem;
      margin-bottom: 3rem; } }
  @media screen and (max-width: 992px) {
    .heading-2 {
      align-self: center; } }
  @media screen and (max-width: 480px) {
    .heading-2 {
      font-size: 6rem; } }

.elem-p {
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 3.2rem;
  margin-bottom: 2rem;
  letter-spacing: .5px; }
  .elem-p--white {
    color: #fff; }
  .elem-p--black {
    color: #000; }
  .elem-p--bold {
    font-weight: 300; }
  .elem-p--bold400 {
    font-weight: 400; }
  @media screen and (max-width: 1200px) {
    .elem-p {
      font-size: 1.5rem;
      line-height: 2rem; } }

.dropdown-toggle::before {
  display: none !important; }

.button,
.button:active {
  outline: none !important;
  border: none !important; }

input::placeholder,
textarea::placeholder {
  color: #fff; }

.vertical-bar {
  min-width: 4rem;
  position: relative;
  min-height: .2rem;
  background-color: black;
  display: inline-block;
  align-self: center;
  justify-self: center;
  margin-top: 50%; }
  .vertical-bar, .vertical-bar::before, .vertical-bar::after {
    width: 4rem;
    height: 3px;
    background-color: black;
    display: inline-block; }
  .vertical-bar::before, .vertical-bar::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .vertical-bar::before {
    top: -1rem; }
  .vertical-bar::after {
    top: 1rem; }

.bg-white {
  background: #fff !important; }

.absolutely-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-padding {
  padding: 10px 280px 30px;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .text-padding {
      padding: 10px 120px 30px; } }
  @media screen and (max-width: 480px) {
    .text-padding {
      padding: 10px 60px 30px; } }
  .text-padding--big {
    padding: 10px 350px 30px;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .text-padding--big {
        padding: 10px 170px 30px; } }
    @media screen and (max-width: 480px) {
      .text-padding--big {
        padding: 10px 80px 30px; } }

.mb3r {
  margin-bottom: 3rem; }

.mar-pad-0 {
  margin: 0;
  padding: 0; }

.fill {
  object-fit: cover; }

.h40rem {
  height: 55vh !important; }
  @media screen and (max-width: 768px) {
    .h40rem {
      height: 60vh !important; } }
  @media screen and (max-width: 480px) {
    .h40rem {
      height: 80vh !important; } }

#show-hide {
  margin-top: 3rem;
  display: none; }

.btn-shadow {
  box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.62);
  transition: box-shadow .5s linear; }
  .btn-shadow:hover, .btn-shadow:focus, .btn-shadow:active {
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.72); }

.expand {
  position: relative;
  text-decoration: none;
  display: inline-block; }

.expand:after {
  display: block;
  content: '';
  border-bottom: solid 1px orangered;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%; }

.expand:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%; }

.expand-up {
  position: relative;
  text-decoration: none;
  display: inline-block; }

.expand-up:before {
  display: block;
  content: '';
  border-top: solid 2px orangered;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%; }

.expand-up:hover:before {
  transform: scaleX(1);
  transform-origin: 0 50%; }

@keyframes scroll-icon {
  0% {
    transform: translateY(-12px);
    opacity: 0; }
  30%, 70% {
    opacity: 1; }
  100% {
    transform: translateY(12px);
    opacity: 0; } }

.blog__hidden {
  display: none; }

.blog__text {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center; }

.blog__item {
  padding: 1.5rem; }

.blog__item:hover .blog__post-title-wrapper {
  background: linear-gradient(to bottom, rgba(254, 252, 234, 0) 0%, rgba(0, 0, 0, 0.5) 29%, rgba(0, 0, 0, 0.84) 84%, rgba(0, 0, 0, 0.99) 99%); }

.blog__item:hover .blog__img {
  transform: scale(1.2); }

.blog__post {
  display: inline-block;
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.6);
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    .blog__post {
      margin-right: auto !important;
      margin-left: auto !important; } }

.blog__img {
  max-width: 100%;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.6);
  transition: all 0.4s; }

.blog__date {
  height: 6rem;
  width: 6rem;
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px; }

.blog__more-button {
  background-color: #F82B3C;
  margin-top: 4rem;
  transition: all .3s linear;
  color: #fff; }

.blog__more-button:hover {
  background-color: #C71A2B;
  color: #fff; }

.blog__post-title-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 6rem;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
  background: linear-gradient(to bottom, rgba(254, 252, 234, 0) 0%, rgba(0, 0, 0, 0.2) 29%, rgba(0, 0, 0, 0.54) 84%, rgba(0, 0, 0, 0.84) 99%); }

.blog__post-title {
  font-size: 2rem;
  color: #fff;
  line-height: 2.7rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 400; }

.blog__author {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff; }

.contact__form {
  padding-left: 10%;
  padding-right: 10%; }

.contact__form-item {
  height: 5rem;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  background-color: rgba(0, 196, 195, 0.5);
  border: none;
  color: #fff !important;
  font-weight: 400;
  border-radius: 0;
  letter-spacing: .5px; }
  .contact__form-item:hover, .contact__form-item:active, .contact__form-item:focus {
    background-color: rgba(10, 176, 195, 0.6);
    color: #fff !important;
    box-shadow: inset 3px 0px 0px 0px rgba(11, 106, 195, 0.8); }

.contact__wrapper {
  padding-left: 10% !important; }
  .contact__wrapper ul {
    list-style-type: none; }

.contact__form-item::placeholder {
  color: #fff; }

.contact__item {
  font-size: 2rem;
  margin-bottom: 2rem; }
  .contact__item b {
    text-transform: uppercase;
    font-weight: 300; }

.form-group {
  margin-bottom: 3rem; }

.footer {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1.4rem; }
  .footer > * {
    color: #ccc; }
  @media screen and (max-width: 768px) {
    .footer div {
      margin-bottom: 3rem; } }
  @media screen and (max-width: 768px) {
    .footer div:first-child {
      margin-top: 3rem; } }
  .footer__logo {
    font-family: 'Pacifico', cursive;
    line-height: 25px;
    font-weight: 400;
    font-size: 2.5rem; }

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.gallery__button-wrapper {
  padding-top: 5rem; }

.gallery__more-button {
  padding: 1.5rem 3rem;
  background-color: #5685A3;
  text-transform: uppercase;
  color: #fff; }
  .gallery__more-button:hover, .gallery__more-button:focus {
    color: #fff; }

.header {
  background-image: url("../../img/header-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*
	background: url(images/bg.jpg) no-repeat center center fixed;
	*/
  min-height: 100vh;
  width: 100%;
  padding: 0 0; }
  .header__navigation {
    min-height: 10vh;
    min-width: 100%;
    padding: 1rem 6%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9000; }
  .header__logo {
    font-family: 'Pacifico', cursive;
    line-height: 25px;
    font-weight: 400;
    font-size: 5rem;
    color: #000;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 1rem 0;
    padding-top: 2rem; }
  .header__menulist {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none; }
  .header__menuitem {
    padding: 1rem .5rem;
    margin: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Raleway', sans-serif; }
  .header__dropdown {
    margin-right: 2rem; }
  .header__dropdown-b {
    border: none !important;
    outline: none !important;
    position: relative;
    display: flex;
    flex-direction: column; }
  .header__dropdown-menu {
    width: auto;
    transition: all .5s linear; }
    .header__dropdown-menu--item {
      padding-top: .5rem;
      padding-right: .5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 2rem;
      text-align: center;
      position: relative;
      display: inline-block; }
  .header__info {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    padding: 1rem 6% !important; }
  .header__textbox {
    height: calc(100vh - 20vh - 5rem); }
  .header__title {
    font-size: 6rem;
    margin-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #262626; }
  .header__description {
    margin-bottom: 3rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 2.7rem;
    color: #262626; }
  .header__scrollbox {
    width: 100%;
    height: 5rem;
    justify-self: end; }
  .header__scroll-icon {
    height: 80%;
    width: 2.5rem;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center; }
    .header__scroll-icon:after {
      content: "";
      background-color: #000;
      border-radius: 50%;
      width: .6rem;
      height: .6rem;
      margin: 0 auto;
      animation: scroll-icon 1.7s infinite cubic-bezier(0.45, 0.05, 0.46, 1); }

@media all and (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column-reverse; } }

.services__card {
  background-color: #fff;
  width: 100%;
  height: 10rem;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5); }
  .services__card:not(:last-child) {
    margin-bottom: 2rem; }

.services__card-container {
  height: 100%; }

.services__title {
  position: relative;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .services__title {
      margin-bottom: 5rem; } }

.services__name-wrapper {
  width: calc(100% - 100px);
  padding-top: 1rem; }

.services__name {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2.7rem;
  font-weight: 100;
  padding: .5rem 1rem; }

.services__icon-wrapper {
  width: 10rem;
  border-left: 1px solid #000; }

.page-section--about {
  background-color: #00c4c4;
  padding: 1rem 8%; }

.page-section--services {
  background-color: #70bfff;
  padding: 10rem 8%; }

.page-section--gallery {
  background-color: #FEE92E;
  padding: 10rem 8%; }

.page-section--blog {
  background-color: #b07cf7;
  padding: 10rem 8%; }

.page-section--contact {
  padding: 10rem 8%;
  background: url(../img/contact-bg.png) no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  position: relative; }

.page-section--footer {
  padding: 2rem 8%;
  background-color: #262626; }

.subscribe {
  background-color: #fff;
  background-image: url("../img/subscribe-bg.png");
  background-attachment: scroll;
  background-position: top right;
  background-size: cover;
  min-height: 500px; }
  @media screen and (max-width: 992px) {
    .subscribe {
      background-position: top center; } }
  .subscribe__wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-left: auto;
    margin-right: auto; }
  .subscribe__text {
    width: 50%;
    text-align: justify; }
    @media screen and (max-width: 480px) {
      .subscribe__text {
        width: 100%;
        margin-left: 5%;
        margin-right: 5%; } }
  @media screen and (max-width: 768px) {
    .subscribe__form {
      flex-direction: column !important; } }
  .subscribe__email {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 200; }
    .subscribe__email:focus, .subscribe__email:active {
      outline: none !important;
      box-shadow: -1px -1px 5px 1px #95f0e8; }
    @media screen and (max-width: 480px) {
      .subscribe__email {
        width: 100%; } }
  .subscribe__button {
    text-transform: uppercase;
    background-color: #96b92c;
    margin-left: 2rem;
    color: #fff;
    transition: all .3s linear;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .subscribe__button {
        margin-top: 3rem;
        margin-left: 0;
        width: 50%; } }
    @media screen and (max-width: 480px) {
      .subscribe__button {
        width: 100%; } }
    .subscribe__button:hover {
      color: #fff;
      background-color: #75a71b; }
