//MIXINS

//Add auto left and right margins
@mixin margin-auto {
    margin: {
        left: auto;
        right: auto;
    }
}


//Solve a problem with container heigth
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin sticky{
	position: fixed;
    right: 0;
    left: 0;
    z-index: 9000;
}


//this pseudoclass removes arrow in header bootstrap dropdown menu

.dropdown-toggle::before
 {
    display:none !important;
}
.button,
.button:active{
    outline: none !important;
    border: none !important;
}

input::placeholder,
textarea::placeholder{
    color: $color-white;
}




//Vertical lines for hamburger menu
.vertical-bar{
	min-width: 4rem;
	position: relative;
	min-height: .2rem;
	background-color: black;
	display: inline-block;
	align-self: center;
	justify-self: center;
	margin-top: 50%;

		&,
        &::before,
        &::after {
            width: 4rem;
            height: 3px;
            background-color: black;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

	&::before { top: -1rem; }
    &::after { top: 1rem; }
}

.bg-white{
	background: $color-white !important;
}

.absolutely-centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.text-padding{
        padding: 10px 280px 30px;
    text-align: center;

    @media  screen and (max-width: $bp-medium) {
        padding: 10px 120px 30px;
    }

    @media screen and (max-width: $bp-extra-small){
        padding: 10px 60px 30px;
    }

    &--big{
            padding: 10px 350px 30px;
            text-align: center;

            @media  screen and (max-width: $bp-medium) {
                padding: 10px 170px 30px;
            }

            @media screen and (max-width: $bp-extra-small){
               padding: 10px 80px 30px;
            }
    }
}

//MARGINS

.mb3r{
    margin-bottom: 3rem;
}

.mar-pad-0{
    margin: 0;
    padding: 0;
}

.fill{
    object-fit: cover;
}

.h40rem{
    height: 55vh !important;

    @media screen and (max-width: $bp-small){
        height: 60vh !important;
    }
    @media screen and (max-width: $bp-extra-small){
        height: 80vh !important;
    }

}

#show-hide {
    margin-top: 3rem;
    display: none;
}

.btn-shadow{
    box-shadow: .5px 2px 5px 0px rgba(0,0,0,0.62);

    transition: box-shadow .5s linear;
    &:hover,
    &:focus,
    &:active{
        box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.72);
    }
}