$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey: #ccc;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


$bp-large: 1200px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-extra-small: 480px;